<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false">

    <bean id="vwAlumnosActivosDao" class="ar.com.celia.seguimiento_alumnos.persistence.impl.VwAlumnosActivosHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vwAlumnosActivosBusiness" class="ar.com.celia.seguimiento_alumnos.business.VwAlumnosActivosBiz">
        <property name="dao" ref="vwAlumnosActivosDao"/>
    </bean>
    <bean id="vwAlumnosActivosBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="vwAlumnosActivosBusiness"/> 
        </property> 
    </bean>
    <bean id="vwAlumnosActivosService" class="ar.com.celia.seguimiento_alumnos.service.impl.VwAlumnosActivosService">
        <property name="businessObject" ref="vwAlumnosActivosBiz"/>
    </bean>
    <bean id="vwIndicadoresAlumnosDao" class="ar.com.celia.seguimiento_alumnos.persistence.impl.VwIndicadoresAlumnosHome">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="vwIndicadoresAlumnosBusiness" class="ar.com.celia.seguimiento_alumnos.business.VwIndicadoresAlumnosBiz">
        <property name="dao" ref="vwIndicadoresAlumnosDao"/>
    </bean>
    <bean id="vwIndicadoresAlumnosBiz" parent="baseTransactionProxy">
         <property name="target">
             <ref bean="vwIndicadoresAlumnosBusiness"/> 
        </property> 
    </bean>
    <bean id="vwIndicadoresAlumnosService" class="ar.com.celia.seguimiento_alumnos.service.impl.VwIndicadoresAlumnosService">
        <property name="businessObject" ref="vwIndicadoresAlumnosBiz"/>
    </bean>
</beans>
